extends layout

block content
  h1 #{title}
    form(action="/edit/#{id}" method="POST")
      each item in itemList         
        input(type="number" name="id" placeholder="#{item.id}" value="#{item.id}")
        input(type="text" name="itemName" placeholder="#{item.itemName}" value="#{item.itemName}")
        input(type="number" name="quantity" placeholder="#{item.quantity}" value="#{item.quantity}")
        input(type="submit" value="編集")