extends layout

block content
  h1 #{title}
  ul
    table
      thead
        tr
          th 管理番号
          th アイテム名
          th 数量
          th 更新日
      tbody
        each item in itemList
          tr
            td
              input(type="number" name="id" placeholder="#{item.id}")
            td
              input(type="text" name="itemName" placeholder="#{item.itemName}")
            td
              input(type="number" name="quantity" placeholder="#{item.quantity}")
            td
              input(type="text" name="last_modified" placeholder="#{item.last_modified}")
            td
              a(href="edit/#{item.id}") 編集する
