extends layout

block content
  form(action='/' method="POST")
    h1 新品目追加
    p.row
      span.input-field.col.s4 
        input(type="text" name="itemName")
        label 品名：
      span.input-field.col.s4
        input(type="number" name="quantity")
        label 数量：
      span.input-field.col.s4
        input(type="submit" value="新規登録").waves-effect.waves-light.btn-small
  h1 #{title}
  ul
    table.striped
      thead
        tr.card-panel.teal.lighten-2
          th 管理番号
          th アイテム名
          th 数量
          th 更新日
          th
      tbody
        each item in itemList
          tr
            td #{item.id}
            td #{item.itemName}
            td #{item.quantity}
            td #{item.last_modified}
            td
              a(href="edit/#{item.id}").waves-effect.waves-light.btn-small 編集する
     

