extends layout

block content
  h1 #{title}
  ul
    table
      thead
        tr
          th 管理番号
          th アイテム名
          th 数量
          th 更新日
      tbody
        each item in itemList
          tr
            td #{item.id}
            td #{item.itemName}
            td #{item.quantity}
            td #{item.last_modified}
            td
              a(href="edit/#{item.id}") 編集する
  form(action='/' method="POST")
    h1 新品目追加
    table
      tr
        td 
          label 品名： 
            input(type="text" name="itemName")
        td
          label 数量：
            input(type="number" name="quantity")            
    input(type="submit" value="送信")
     

