extends layout

block content
  form(action='/' method="POST")
  div.row
    h1.col.s6 #{title}
    a(href="add").waves-effect.waves-light.btn 品目追加
  ul
    table.striped
      thead
        tr.card-panel.teal.lighten-2
          th 管理番号
          th アイテム名
          th 数量
          th 更新日
          th
      tbody
        each item in itemList
          tr
            td #{item.id}
            td #{item.itemName}
            td #{item.quantity}
            td #{item.last_modified}
            td
              a(href="edit/#{item.id}").waves-effect.waves-light.btn-small 編集する
     

